@import './tailwind.css';
@import '@fortawesome/fontawesome-free/css/all.css';

* {
    /*border: 1px solid red;*/
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
        'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 230px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content .option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content .option:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.logo__position {
    position: absolute;
    top: -150px;
    left: -10px;
}

.triangle-right {
    width: 15px;
    height: 15px;
    border-top: 7px solid transparent;
    border-left: 10px solid #061c31;
    border-bottom: 7px solid transparent;
}